@layer icons, tw-base, primeng, tw-components, tw-utilities, tw-variants;

// Please take note of the order in which these are imported
@import 'primeicons/primeicons.css' layer(icons);
@import 'tailwindcss/base.css' layer(tw-base);
@import 'tailwindcss/components.css' layer(tw-components);
@import 'tailwindcss/utilities.css' layer(tw-utilities);
@import 'tailwindcss/variants.css' layer(tw-variants);

@layer tw-components {
  // tailwind component classes here
}

@layer tw-utilities {
  // tailwind utitlity classes here
}

@layer tw-base {
}

body
  :not(.p-overlay):not(.p-datepicker):not(.p-menu-overlay):not(
    .p-column-filter-overlay
  ) {
  @apply transition-all duration-300 ease-in-out;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

td,
th {
  white-space: nowrap;
}

.p-card .p-card-body {
  row-gap: 0.15rem;
}

.input-group {
  @apply flex flex-col gap-2 w-full;
  label {
    @apply text-sm text-slate-600;
  }
  .p-dropdown,
  .p-icon-field,
  .p-password,
  input,
  .p-inputnumber,
  .p-calendar {
    @apply w-full;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-slate-600 mb-4;
}

h1 {
  @apply text-3xl;
}

.p-card .p-card-title {
  @apply text-slate-700 font-medium;
}

.link {
  @apply text-indigo-500 hover:text-indigo-700 cursor-pointer hover:underline;
}

.pill {
  @apply inline-block px-2 py-1 rounded-full text-sm font-semibold text-indigo-800 bg-indigo-100;
}
